body {
	/*margin-top: 20px;*/
}

#limpar-lista{
	margin-right: 15px;
}

#valor-total{
	font-size: 200%;
	margin-bottom: 20%;
}

#numero {
	font-size: 140%;
}

.btn-action {
	cursor: pointer;
}

option, select {
	text-transform: capitalize;
}

#numero-pedido, #numero-atual {
	font-weight: bold;
}

.btn-quantidade {
	padding: 0 !important;
	text-align: center;
}

.item-pedido {
	height: 60px;	
	margin-bottom: 10px;
}

.border-container {
	border-right: 1px solid #D3D3D3;
}

.container-dado-item {
	height: 100%;
	line-height: 60px;
}

.input-qtd {
	margin-top: 14px;
	text-align: center;
}

.label-bold {
	font-weight: bold;
	font-size: 15px;
}
.title-numero {
	font-size: 15px;
}

.numero-atual {
	font-size: 30px;
}

.numero-pedido {
	font-size: 25px;
}
